html {
  background-color: #EDEDEA;
}

.logo {
  margin: 0 auto 30px;
  text-align: center;
}

fieldset {
  border: none
}

a {
  color: #9e9e9e;
  font-size: 12px;
}

p {
  text-align: center;
}

.content {
  text-align: center;
}

.checkbox {
  display: none;
}

#ForgotPassword {
  height: 36px;
  line-height: 36px;
  text-align: left;
}

.server-name {
  font-size: 22px;
  margin-bottom: 40px;
  text-align: center;
  width: auto;
  line-height: 1.1;
}

.content.message {
  background: none;
}

.message.warning,
.message.bad {
  padding: 19px 20px 20px;
  border-top: 1px solid #bd3933;
}

#MemberLoginForm_LoginForm.loading {
  min-height: 248px;
  background: url(../images/ed-spinner.svg) no-repeat center center;
  background-size: 64px 64px;

  * {
    display: none;
  }
}

.hero {
  min-height: 100vh;
}

.container {
  display: flex;
}
