.tippy-tooltip.intranet-theme {
  background-color: $white;
  box-shadow: 0 0 5px rgba(43, 61, 74, .3);
}

.tippy-tooltip.intranet-theme [x-arrow] {
  border-color: transparent;
}

.tippy-tooltip.intranet-theme .tippy-tooltip-content {
  color: #617787;
  font-size: 12px;
}